.commuter-row th,
.commuter-row td {
  text-align: center;
}

.commuter-row td:hover {
  cursor: pointer;
  border: 1px solid #cdc;
  background-color: #efe;
}

.commuter-row .row-delete {
  border-top: 0;
  color: red;
}
